<div class="container_followed_followers">
<h2>Followers</h2>

<% if @followers.any? %>
    <% @followers.each do |user| %>
        <p><%= link_to user.name, user_path(User.find_by_email(user.email)), 
            :class => 'btn btn-user-follow' %></p>
    <% end %>
    
<% else %>
    <p>The user has no followers</p>
<% end %>
</div
