<div class="container">
    <h1><%= @title %></h1>
    <p>The Scholar Den is a discussion forum where people could hold discussions about quantitative mathematics, 
    operations research, Data Science or any other scholarly topic of your liking. 
    You can also reach out to people by sending them messages.
    </p>
</div>
